{% extends 'base.html' %}

{% block content %}
  <div style="border: 1px solid #ccc; padding: 20px; background-color: #f5f5f5;">
    <h1 style="text-align: center; color: #333; margin-top: 0; margin-bottom: 30px;">{% block title %}Fiche de renseignement{% endblock %}</h1>
    <form method="post">
      <div style="margin-bottom: 20px;">
        <label for="Prenom" style="display: block; margin-bottom: 5px; font-size: 16px; font-weight: bold; color: #555;">Prénom:</label>
        <input type="text" name="Prenom" id="Prenom" placeholder="Jacques" style="display: block; width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;" value="{{ request.form['Prenom'] }}">
      </div>
      <div style="margin-bottom: 20px;">
        <label for="Nom" style="display: block; margin-bottom: 5px; font-size: 16px; font-weight: bold; color: #555;">Nom:</label>
        <input type="text" name="Nom" id="Nom" placeholder="Ren" style="display: block; width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;" value="{{ request.form['Nom'] }}">
      </div>
      <div style="margin-bottom: 20px;">
        <label for="Revenu" style="display: block; margin-bottom: 5px; font-size: 16px; font-weight: bold; color: #555;">Revenu mensuel:</label>
        <textarea name="Revenu" id="Revenu" rows="1" cols="10" placeholder="1200" style="display: block; width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;">{{ request.form['Revenu'] }}</textarea>
      </div>
      <div style="text-align: center;">
        <button type="submit" style="background-color: #4CAF50; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 4px; cursor: pointer;">Soumettre</button>
      </div>
    </form>
  </div>
{% endblock %}
